.app-header {
  display: block;
  padding-top: 3vh;
  padding-left: 5vh;
  padding-right: 5vh;
}

.app-header a{
  text-decoration: none;
  color: #000c17;
}

.app-header a:hover {
  color: #595959;
}

.header-root {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-header-block {
  display: flex;
  align-items: center;
}

.right-header-block {
  display: flex;
  align-items: center;
  font-size: 35px;
}
.icon-container-right {
  padding-left: 15px;
  padding-right: 15px;
}

.logo-text {
  font-family: 'Vast Shadow', cursive;
  user-select: none;
  font-size: 35px;
}
