@import '~antd/dist/antd.css';
@import "~normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Vast+Shadow&display=swap');

.App {
  text-align: center;
  font-family: Roboto, serif;
  background: url("assets/chat_bg.jpg") no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 100vh;
}

.container {
  position: absolute;
  margin: auto;
  top: 35vh;
}
